---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Verdi Verdian"
	  position="IT Staff in Eka Hospital Family"
	  aboutMe={`Halo! Perknelakan Nama Saya Verdi Verdian, berusia 32 tahun. Saya memiliki latar belakang pendidikan S1 di Teknik Informatika dan telah memiliki pengalaman lebih dari 5 tahun di bidang Staf IT.\n\n Saya senang bekerja dengan teknologi dan selalu berusaha untuk terus belajar dan berkembang di dunia IT.\n\n Jika ada yang ingin Anda ketahui lebih lanjut, silakan tanya saja!`}
	  linkedin="https://www.linkedin.com/in/verdi-verdian/"
	  github="https://github.com/ve-verdian"
	  cvLink="/files/cv-update.pdf"
	  profileImage="/images/conan_2.webp"
	/>
</BaseLayout>

<!--
	"Hi there!, I'm Brian. I hope this small template helps you gain visibility while you build great projects. Thank you for using it. I wish you success in everything you set out to do; you will surely achieve great things.

	Here is my GitHub {https://github.com/alcarazbrian}. You can help me by following me, giving a Star to the template, and sharing it so others can see and use it.

	Have a great day!"
 -->
